<div fxLayout="column">
  <mat-toolbar>James Bonasera</mat-toolbar>

  <router-outlet></router-outlet>

    <footer fxLayoutAlign="center center"
                 fxLayout="row wrap">
        <mat-list>
          <mat-list-item>
            <strong>Contact</strong>
          </mat-list-item>
          <mat-list-item>
            <p mat-line>Email</p>
            <p mat-line>jabonasera@gmail.com</p>
          </mat-list-item>
          <mat-list-item>
            <p mat-line>Phone</p>
            <p mat-line>847 961 8217</p>
          </mat-list-item>
        </mat-list>
      <mat-list>
        <mat-list-item>
          <strong>Contact</strong>
        </mat-list-item>
        <mat-list-item>
          <p mat-line>Email</p>
          <p mat-line>jabonasera@gmail.com</p>
        </mat-list-item>
        <mat-list-item>
          <p mat-line>Phone</p>
          <p mat-line>847 961 8217</p>
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <strong>Contact</strong>
        </mat-list-item>
        <mat-list-item>
          <p mat-line>Email</p>
          <p mat-line>jabonasera@gmail.com</p>
        </mat-list-item>
        <mat-list-item>
          <p mat-line>Phone</p>
          <p mat-line>847 961 8217</p>
        </mat-list-item>
      </mat-list>
    </footer>
</div>

